## Visual Studio y archivos de entorno
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

## Carpetas de salida y binarios compilados (C# y C)
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Archivos ejecutables y de depuración
*.exe
*.dll
*.pdb
*.o
*.obj
*.out
*.ilk
*.idb

## Archivos de pruebas y logs
*.log
*.coverage
TestResults/